<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
</head>

<body>
    <h3>Create a new chat</h3>
    <form method="post" action="/chats">
        <input placeholder="Enter your name" name="from">
        <br>
        <br>
        <textarea name="msg" rows="10">Write your message here...</textarea>
        <br>
        <br>
        <input placeholder="To" name="to">
        <br>
        <br>
        <button>Create chat</button>
    </form>

</body>

</html>